*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
}
header{
    background-color: #00a5f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
}
header h1{
    text-align: center;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}
nav p{
    margin-right: 5px;
}
div{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
aside{
    background-color: #00a5f0;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
aside li{
    color: #005aed
}
aside h2{
    text-align: center;
    padding-bottom: 15px;
}
main{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px
}
.servicio{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px 0px;
}
#s1{
    background-color: #e13732;
    flex-grow: 1;
}
#s2{
    background-color: #8c23aa;
    flex-grow: 1;
}
#s3{
    background-color: #3c50b4;
    flex-grow: 1;
}
footer{
    display: flex;
    background-color: #8c23aa;
    justify-content: space-around;
    margin: 30px 0px;
    padding: 20px 0px;
}
@media (min-width: 768px) {
    body {
      background: linear-gradient(to right, #ff5e62, #ff9966); 
    }
    header{
        flex-direction: row;
    }
    nav{
        padding: 0;
        justify-content: space-between;
    }
    div{
        flex-direction: row-reverse;
    }
    main{
        flex-basis: 60%;
        margin-right: 10px;
        margin-top: 0;
    }
    aside{
        flex-grow: 1;
    }
}